@mixin lifeSavers {
  font-family: 'Life Savers', cursive;
  font-weight: 700;
}

$cyan-darken-2: #0097a7;
$cyan-lighten-4: #b2ebf2;
$grey-lighten-3: #EEEEEE;
$grey: #9e9e9e;

* {
  box-sizing: border-box;
}

body {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  background-color: $grey-lighten-3;
}

h1 {
  font-size: 3.5em;
  @include lifeSavers;
}

h2 {
  font-size: 3em;
  @include lifeSavers;
  padding: 0;
  text-align: center;
}

h5 {
  @include lifeSavers;
}

.fa-angle-double-up {
  font-size: 2em;
  color: $cyan-darken-2;
}

a {
  color: $cyan-darken-2;
}

// Nav
.navlink {
  font-size: 1.2em;
  @include lifeSavers;
}


// Header
.header-logo {
  font-size: 1.5em;
}

.headertxt {
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  display: inline-block;
}

#headertitle {
  padding-top: 0;
  @include lifeSavers;
  font-weight: 400;
}

// Main
.body-section {
  margin-top: 3.5em;
  margin-bottom: 5em;
  margin-left: 3em;
}

.body-text {
  font-size: 1.4em;
  margin-top: 0;
}

.divider {
  height: 0.3em;
  background-color: $grey;
}

// Main - About
.about-section {
  text-align: center;
}

h1.about-section {
  margin-bottom: 10px;
}

// Main - Work
.card {
  margin: 1rem 3rem;
  padding: 0 !important;
  background-color: $cyan-lighten-4;
}

.card-content {
  padding: 10px !important;
}

@media (min-width: 1092px) {
  img.activator {
    max-height: 205px;
  }
}

p.card-title {
  font-size: 1.4em !important;
  line-height: 1.4em !important;
}

.see-app {
  display: inline-block;
  float: left;
  padding-bottom: 0.5em !important;
}

.see-code {
  display: inline-block;
  float: right;
  padding-bottom: 0.5em !important;
}

.appdesc {
  font-size: 1.1em;
}

// Footer
.createdby {
  &:hover {
    font-weight: 500;
  }
}

.footer-logo {
  display: inline-block;
  margin: 5px;

  &:hover {
    font-size: 1.1em;
  }
}
